body
{

    background-color: burlywood;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-attachment: fixed;

    width: 100vw;
    height: 100vh;
}

.odsad
{
    margin-right: 10px;
}

.sledovat
{
    position: fixed;
    margin-top: 50px;
    left: 50%;
    transform : translate(-50%, -50%);
    text-shadow: none;
}

.obrazok-car
{
    max-height: 650px !important;
}

/*@media (max-width: 688px) {
    .carousel-item > img {
        max-height: 146px;
    }
}*/


